/* container */
.o-container {
    padding-inline: 40px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.half-top-right {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.flex {
    display: flex;
}

.flex-y-center {
    align-items: center;
}

.flex-x-center {
    justify-content: center;
}

.flex-center {

    justify-content: center;
    align-items: center;
}

.flex-between {
    justify-content: space-between;
}

.round {
    border-radius: 50%;
}

.aspect-square {
    aspect-ratio: 1/1;
}

.uppercase {
    text-transform: uppercase;
}

.transition-normal {
    transition: 0.3s all ease-in-out;
}

/* font */
.text-20 {
    font-size: 20px;
}

.font-code {
    font-family: var(--font-code);
}

.w-fit {
    width: fit-content;
}

/* background */
.bg-lgt-clr-grey {
    background-color: var(--clr-lgt-grey);
}

.bg-clr-white {
    background-color: white;
}

/* cursor */
.cursor-pointer {
    cursor: pointer;
}

/* text align */
.text-center {
    text-align: center;
}
/* dropdown */
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    width: fit-content;
}

.custom-select {
    position: relative;
    cursor: pointer;
}

.select-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    column-gap: 1rem;
}

.select-trigger .arrow {
    border: solid var(--clr-black);
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg) translateY(-2px);
    transition: transform 0.2s ease;
}

.custom-select.open .select-trigger .arrow {
    transform: rotate(-135deg);
}

.custom-options {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
}

.custom-option {
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.custom-option:hover {
    background: #f2f2f2;
}

.custom-option.selected {
    background: #e0e0e0;
    pointer-events: none;
}

/* dropdown */

/* Dropdown Wrapper */
.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown:hover [aria-label="arrow-down"] {
    transform: rotate(180deg);
    transition: 0.3s all ease-in-out;
}

[aria-label="arrow-down"] {

    top: 40%;
    right: 2rem;
}

/* Dropdown Trigger */
.dropdown-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f2f2f2;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

[aria-label="dropdown-href"] {
    display: flex;
    padding-block: 10px;
    align-items: center;
    column-gap: 1rem;
}

/* Arrow Down */
.arrow-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--clr-black);
    margin-left: 10px;
    transition: transform 0.2s ease;
}

/* Rotate Arrow when dropdown is open */
.dropdown.open .arrow-down {
    transform: rotate(180deg);
}

/* Dropdown Lists */
.dropdown-lists {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 160px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
    text-align: center;
}

/* Dropdown Items */

.dropdown-lists li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: background-color 0.2s ease;
}

.dropdown-lists li a:hover {
    background-color: #f2f2f2;
}

/* blue squre before  */

.blue-squre-before::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    aspect-ratio: 1/1;
    background-color: var(--clr-lgt-blue);
}


/* button */
.btn {
    padding: 2rem 4.8rem;
    border-radius: 8px;
    font-family: medium;
    text-transform: uppercase;
    margin-inline: 6px;
    transition: 0.3s all ease-in-out;
}

.btn-white {
    background-color: var(--clr-white);
    color: var(--clr-thick-blue);
    border: 1px solid var(--clr-white);
}

.btn-white:hover {
    background-color: var(--clr-thick-blue);
    color: var(--clr-white);
}

.btn-blue {
    background-color: var(--clr-thick-blue);
    border: 1px solid var(--clr-white);
    color: var(--clr-white);
}
.btn-blue:hover {
    background-color: var(--clr-white);
    color: var(--clr-thick-blue);
}

@-webkit-keyframes animate-float {
    0%  {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(2%);
    }
    50% {
        transform: translateY(0%);
    }
    75% {
        transform: translateY(-2%);
    }
    100% {
        
        transform: translateY(0);
    }
}
/* animation */
.animate-float {
    animation-name: animate-float;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

/* .accordion */
.accordion-lists {
    width: 50%;
}
.accordion-item {
    background-color: var(--clr-white);
    border-radius: 1.2rem;
    padding: 3.2rem 4rem;
}
.accordion-lists  .accordion-item:not(:last-child) {
    margin-block-end: 1.6rem;
}
.accordion-item h5 {
    font-size: 3.2rem;
    font-weight: 700;
    padding-block: 2.4rem;
}
.accordion-header {
    cursor: pointer;
}
.accordion-header > span {
    padding-inline-start: 4rem;
}
.accordion-body {
    font-size: 20px;
    line-height: 1.8;
}





/* .accordion */
.accordion-preview {
    display: flex;
    gap: 2rem;
}

.accordion-lists {
    width: 50%;
}

.accordion-item {
    background-color: var(--clr-white);
    border-radius: 1.2rem;
    padding: 3.2rem 4rem;
    cursor: pointer;
}

.accordion-lists .accordion-item:not(:last-child) {
    margin-bottom: 1.6rem;
}

.accordion-header p {
    font-size: 3.2rem;
    font-weight: 700;
    padding-block: 2.4rem;
}

.accordion-header {
    cursor: pointer;
}

.accordion-header > span {
    padding-left: 4rem;
}

.accordion-body {
    font-size: 20px;
    line-height: 1.8;
    display: none; /* Initially hidden */
}

[alt="preview-img"] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 68rem;
    max-width: 66%;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out;
    border-radius: 1.2rem;
}
[alt="preview-bg"] {
    width: 100%;
}
div.preview-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: fit-content;
    border-radius: 1.2rem;
    overflow: hidden;
}
.lists--blue-checkbox li {
    position: relative;
    padding-inline-start: 4rem;
}
.lists--blue-checkbox li::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-checkbox.png");
    width: 24px;
    height: 16px;
    background-size: 100% 100%;
    background-position: center center;
    left: 0;
    top: 2rem;
    

}
