/* container */
.container {
    width: 100%;
    max-width: 1530px;
    padding-inline: 16px;
    margin: 0 auto;
}

.o-container {
    padding-inline: 40px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.half-top-right {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.flex {
    display: flex;
}

.flex-y-center {
    align-items: center;
}

.flex-x-center {
    justify-content: center;
}

.flex-center {

    justify-content: center;
    align-items: center;
}

.flex-between {
    justify-content: space-between;
}

.round {
    border-radius: 50%;
}

.aspect-square {
    aspect-ratio: 1/1;
}

.uppercase {
    text-transform: uppercase;
}

.transition-normal {
    transition: 0.3s all ease-in-out;
}

/* width */
.w-full {
    width: 100%;
}

/* font */
.text-14 {
    font-size: 14px;
}

.text-18 {
    font-size: 18px;
}

.text-20 {
    font-size: 20px;
}

.text-24 {
    font-size: 24px;
}

.text-32 {
    font-size: 3.2rem;
}

.font-code {
    font-family: var(--font-code);
}

.w-fit {
    width: fit-content;
}

/* background */
.bg-lgt-clr-grey {
    background-color: var(--clr-lgt-grey);
}

.bg-clr-white {
    background-color: white;
}

.bg-clr-purple {
    background-color: var(--clr-purple);
}

.bg-clr-primary {
    background-color: var(--clr-primary);
}

.bg-clr-thick-blue {
    background-color: var(--clr-thick-blue);
}

/* color */
.clr-blue {
    color: var(--clr-lgt-blue);
}

.clr-white {
    color: var(--clr-white);
}

/* cursor */
.cursor-pointer {
    cursor: pointer;
}

/* text align */
.text-center {
    text-align: center;
}

/* dropdown */
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    width: fit-content;
}

.custom-select {
    position: relative;
    cursor: pointer;
}

.select-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    column-gap: 1rem;
}

.select-trigger .arrow {
    border: solid var(--clr-black);
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg) translateY(-2px);
    transition: transform 0.2s ease;
}

.custom-select.open .select-trigger .arrow {
    transform: rotate(-135deg);
}

.custom-options {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
}

.custom-option {
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.custom-option:hover {
    background: #f2f2f2;
}

.custom-option.selected {
    background: #e0e0e0;
    pointer-events: none;
}

/* dropdown */

/* Dropdown Wrapper */
.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown:hover [aria-label="arrow-down"] {
    transform: rotate(180deg);
    transition: 0.3s all ease-in-out;
}

[aria-label="arrow-down"] {

    top: 40%;
    right: 2rem;
}

/* Dropdown Trigger */
.dropdown-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f2f2f2;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

[aria-label="dropdown-href"] {
    display: flex;
    padding-block: 10px;
    align-items: center;
    column-gap: 1rem;
}

/* Arrow Down */
.arrow-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--clr-black);
    margin-left: 10px;
    transition: transform 0.2s ease;
}

/* Rotate Arrow when dropdown is open */
.dropdown.open .arrow-down {
    transform: rotate(180deg);
}

/* Dropdown Lists */
.dropdown-lists {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 160px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
    text-align: center;
}

/* Dropdown Items */

.dropdown-lists li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: background-color 0.2s ease;
}

.dropdown-lists li a:hover {
    background-color: #f2f2f2;
}

/* blue squre before  */

.blue-squre-before::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    aspect-ratio: 1/1;
    background-color: var(--clr-lgt-blue);
}


/* button */
.btn {
    padding: 2rem 4.8rem;
    border-radius: 8px;
    font-weight: medium;
    text-transform: uppercase;
    margin-inline: 6px;
    transition: 0.3s all ease-in-out;
}

.btn-white {
    background-color: var(--clr-white);
    color: var(--clr-thick-blue);
    border: 1px solid var(--clr-white);
}

.btn-white:hover {
    background-color: var(--clr-thick-blue);
    color: var(--clr-white);
}

.btn-blue {
    background-color: var(--clr-thick-blue);
    border: 1px solid var(--clr-white);
    color: var(--clr-white);
}

.btn-blue:hover {
    background-color: var(--clr-white);
    color: var(--clr-thick-blue);
}

.btn-lgt-blue {
    background-color: var(--clr-lgt-blue);
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--clr-lgt-blue);
}

.btn-lgt-blue:hover {
    background-color: var(--clr-white);
    color: var(--clr-lgt-blue);
}

@-webkit-keyframes animate-float {
    0% {
        transform: translateY(0%);
    }

    25% {
        transform: translateY(2%);
    }

    50% {
        transform: translateY(0%);
    }

    75% {
        transform: translateY(-2%);
    }

    100% {

        transform: translateY(0);
    }
}

/* animation */
.animate-float {
    animation-name: animate-float;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

/* .accordion */
.accordion-lists {
    width: 50%;
}

.accordion-item {
    background-color: var(--clr-white);
    border-radius: 1.2rem;
    padding: 3.2rem 4rem;
    position: relative;
}

.accordion-lists .accordion-item:not(:last-child) {
    margin-block-end: 1.6rem;
}

.accordion-item h5 {
    font-size: 3.2rem;
    font-weight: 700;
    padding-block: 2.4rem;
}

.accordion-header {
    cursor: pointer;
}

.accordion-header>span {
    padding-inline-start: 4rem;
}

.accordion-item::after {
    content: "";
    position: absolute;
    top: 3.2rem;
    right: 4rem;
    width: 40px;
    aspect-ratio: 1/1;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../img/icon-accordion-plus.svg");

}

.accordion-item.active::after {
    background-image: url("../img/icon-accordion-minus.svg");
}

.accordion-body {
    font-size: 20px;
    line-height: 1.8;
}





/* .accordion */
.accordion-preview {
    display: flex;
    gap: 2rem;
}

.accordion-lists {
    width: 50%;
}

.accordion-item {
    background-color: var(--clr-white);
    border-radius: 1.2rem;
    padding: 3.2rem 4rem;
    cursor: pointer;
}

.accordion-lists .accordion-item:not(:last-child) {
    margin-bottom: 1.6rem;
}

.accordion-header p {
    margin-block: 0;
    padding-block: 0;
    font-size: 3.2rem;
    font-weight: 700;

}

.accordion-header {
    cursor: pointer;
}

.accordion-header>span {
    padding-left: 4rem;
    margin-block-end: 2.2rem;
    display: inline-block;
}

.accordion-body {
    padding-block: 4rem;
    font-size: 20px;
    line-height: 1.8;
    display: none;
    /* Initially hidden */
}

[alt="preview-img"] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 68rem;
    max-width: 66%;
    /* opacity: 0; */
    /* Initially hidden */
    transition: opacity 0.5s ease-in-out;
    border-radius: 1.2rem;
}

[alt="preview-bg"] {
    width: 100%;
    height: fit-content;
}

div.preview-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: fit-content;
    border-radius: 1.2rem;
    overflow: hidden;
}

.lists--blue-checkbox li {
    position: relative;
    padding-inline-start: 4rem;
    font-weight: 500;
}

.lists--blue-checkbox li::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-checkbox.svg");
    width: 24px;
    height: 16px;
    background-size: 100% 100%;
    background-position: center center;
    left: 0;
    top: 1.4rem;


}


/* tab */

/* Tab container */

.tab-container {
    width: 122.2rem;
    max-width: 100%;
    margin: 0 auto;

    --clr-active-tab: #22246a;
    --clr-active-border: 1px solid #D9D9D9;
}

/* Tab headers */
.tab-headers {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    /* margin-bottom: 2rem; */
    font-size: 24px;
    border: 1px solid #60618A;
    border-bottom: none;
    border-radius: 1.2rem 1.2rem 0 0;
}

.tab-headers li {
    /* margin-right: 10px; */
    width: calc(100% / 3);
    position: relative;

}


.tab-headers a {
    display: inline-block;
    width: 100%;
    padding: 22px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 1.2rem 1.2rem 0 0;

    text-align: center;
    transition: background-color 0.3s ease;

}

.tab-headers li.active a {
    background-color: var(--clr-active-tab);
    border: var(--clr-active-border);
    border-bottom: none;
    color: #fff;
}

.tab-headers li.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    top: 95%;
    left: 0;
    background-color: var(--clr-active-tab);
    border-left: var(--clr-active-border);


}

/* Tab content */
.tab-content {
    border: var(--clr-active-border);
    color: #fff;
    padding: 40px 20px;
    border-radius: 1.2rem;
    background-color: var(--clr-active-tab);
}

/* Hide inactive tabs */
.tab-panel {
    display: none;
}

.tab-panel.active {
    display: flex;
    column-gap: 1.2rem;
}

.tab-title {
    background-color: var(--clr-purple);
    background-image: url(../img/tab-icon-ellapse.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.tab-img-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 10.4rem;
    background-color: var(--clr-purple);
    background-image: url("../img/tab-area-ellapse.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.tab-img-area {
    margin-block-start: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 10.4rem !important;
    background-color: var(--clr-purple);
    background-image: url("../img/tab-area-ellapse.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* tab accordion */

/* Basic styling */
.tab-accordion-lists {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* Styling each accordion item */


/* Header styling */
.tab-accordion-header {
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: bold;
    background-color: var(--clr-purple);
    color: var(--clr-white);
    padding: 1.6rem 6rem;
    padding-inline-start: 8rem;
    position: relative;
    transition: background-color 0.3s ease;
}

.tab-accordion-header:hover {
    opacity: 0.8;
}

.tab-img {
    width: 40%;
    flex: 0 0 auto;
}

.tab-img>div {
    border-radius: 1.2rem;
    overflow: hidden;
    padding: 1.6rem 1.6rem;
}

/* Body styling */
.tab-accordion-body {
    display: none;
    /* Initially hidden */
    background-color: var(--clr-purple);
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
}

/* Active header when accordion is open */
.tab-accordion-header.active {}

.tab-accordion-item {
    border-radius: 1.2rem;
    overflow: hidden;
    position: relative;
}

.tab-accordion-item:not(:last-child) {
    margin-bottom: 1.2rem;
}

[alt="tab-img"] {
    width: 31.8rem;
}

.squre-before-left-20::before {
    left: 5%;
}

.tab-accordion-item::after {
    content: "";
    position: absolute;
    top: 1.4rem;
    right: 3rem;
    width: 29px;
    aspect-ratio: 1 / 1;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../img/icon-white-plus.svg);

}

.tab-accordion-item.active::after {
    background-image: url("../img/icon-white-minus.svg");
}

.tab-content-lists li {
    position: relative;
    padding-inline-start: 6rem;
}

.tab-content-lists li::before {
    position: absolute;
    content: "";
    width: 24px;
    aspect-ratio: 1/1;
    top: 50%;
    transform: translateY(-50%);
    left: 1.3rem;
    background-image: url(../img/icon-checkbox.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.tab-content-lists li:not(:last-child) {
    margin-bottom: 1.2rem;
}

.tab-content-lists li p {
    margin-block: 0;
}

.tab-content-lists li p.text-20 {
    font-weight: 600;
    margin-block-end: 1.2rem;
}

@media screen and (max-width: 1024px) {
    .accordion-item::after {
        top: 2.6rem;
        right: 4rem;
        width: 30px;
    }
}
@media screen and (max-width: 768px) {
    .accordion-preview {
     
        flex-wrap: wrap;
    }
    div.preview-img {
        width: 100%;
        order: 0;
     
    }
    .accordion-lists {
        width: 100%;
        order: 1;
    }
    .tab-panel.active {
        display: flex;
        row-gap: 1.2rem;
        flex-wrap: wrap;
    }
    .tab-img {
        width: 100%;
     
    }
    .tab-img-area {
        padding-block: 4.4rem !important;
    }
    .accordion-header p {
     
        font-size: 2.4rem;
     
    }
    .accordion-body {
        padding-block: 2rem;
        
    }
    .o-container {
        padding-inline: 20px;
    }
}
@media screen and (max-width: 426px) {
    .tab-headers a {
        
        padding: 12px;
        font-size: 16px;
    }
    .tab-accordion-header {
        padding: 14px 6rem;
        padding-inline-start: 8rem;
        font-size: 16px;
    }
    .tab-content-lists li::before {
        left: 0;
        top: 20%;
        width: 3.2rem;
    }
    .accordion-header p {
        font-size: 18px;
    }
    .accordion-body {
        padding-block: 2rem;
        font-size: 16px;
    }
    .accordion-body li {
        font-size: 16px;
    }
    
}