footer {
    --footer-bg: #040636;
    background-color: var(--footer-bg);
    color: var(--clr-white);
    padding: 12.6rem 0 0;
    --clr-footer-grey: #B8B8B8;
    --grey-border: 1px solid #B8B8B8;
}

footer a {
    color: #B8B8B8;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    padding-block-end: 10rem;
    border-bottom: var(--grey-border);
    margin-bottom: 6.4rem;
}

[alt="footer-logo"] {
    flex: 0 0 auto;
    aspect-ratio: 229 / 75;
    width: 22.8rem;
}

.footer-big-nav a {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1.6rem 3.2rem;
    border-radius: 1.2rem;
    color: var(--clr-white);
    width: 19.2rem;
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
}

.footer-sub-nav {
    display: flex;
    justify-content: space-between;
    padding-block-end: 10rem;
    border-bottom: var(--grey-border);
    margin-bottom: 6.4rem;
}

.footer-sub-col {
    flex: 0 0 auto;
    width: 20%;
    font-size: 2rem;
}

.footer-sub-col ul {
    margin-block-start: 2rem;
}

.footer-sub-col ul li {
    line-height: 2;
    font-size: 1.6rem;
    padding-inline: 2rem;
}
.footer-sub-col ul li a {
    
    width: 100%;
    display: inline-block;
    margin-bottom: 1.2rem;
    padding: 1.2rem 1.2rem;
    transition: 0.3s opacity ease-in-out;
}
.footer-sub-col ul li a:hover {
    opacity: 0.6;
}
.offer-title {
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    column-gap: 1.6rem;
    margin-block: 0 2rem;
}

.offer-title svg {
    width: 4rem;
    height: 4rem;
}

.offer-desc {
    color: var(--clr-footer-grey);
    font-size: 20px;
}

[aria-label="learn-more"] {
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
    width: fit-content;
    margin-top: 6rem;

}

[aria-label="learn-more"]:hover svg {
    transform: translateX(10%);
}

[aria-label="learn-more"] svg {
    width: 2.4rem;
    height: 2.4rem;
    transition: 0.3s transform ease-in-out;
}

[aria-label="offer-item"] {
    border: var(--grey-border);
    padding: 2.4rem;
    display: inline-block;
    border-radius: 1.2rem;

}

.gradient-border {
    z-index: 1;

}

.gradient-border::before {
    content: "";
    position: absolute;
    width: calc(100% + 0.2rem);
    height: calc(100% + 0.2rem);

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.offer-lists {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    margin-bottom: 6rem;
}

[name="offer_email"] {
    display: block;
    width: 100%;
    padding: 1.6rem;
    border-radius: 1.2rem;
    outline: none;
    background-color: transparent;
    color: var(--clr-white);
    margin-block-end: 1.2rem;
    border: var(--grey-border);
}

.offer-email-desc {
    margin-block: 1.2rem;
}

[aria-label="footer-sub-href"] {
    display: flex !important;
    align-items: center;
    column-gap: 1.2rem;
}

[alt="footer-sub-icon"] {
    width: 24px;
    height: 24px;
}

.footer-sm-nav-01-logo {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.footer-card-wrapper {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.footer-sm-nav-01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    border-top: var(--grey-border);
    border-bottom: var(--grey-border);
}

.footer-footer-nav {
    column-gap: 2.4rem;
    font-size: 14px;
}

.footer-sm-nav-02 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 0;
}
.social-nav {
    display: flex;
    align-items: center;
}
.footer-big-nav {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}
@media screen and (max-width: 1340px) {
    .footer-big-nav {
        display: none;
    }
    .footer-nav {
        padding-block-end: 4rem;
     
    }
}
@media screen and (max-width: 1020px) {
    .footer-sm-nav-02 {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 7rem;
        row-gap: 2rem;
    }
}
@media screen and (max-width: 768px) {
    .offer-lists {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 2rem;
        margin-bottom: 6rem;
    }
    .footer-sm-nav-01 {
        flex-direction: column;
        row-gap: 3rem;
    }
    .footer-sub-nav {
        flex-wrap: wrap;
        row-gap: 4rem;
    }
    .footer-sub-col {
        flex: 0 0 auto;
        width: 32%;
        font-size: 2rem;
    }
    footer {
        padding: 6.6rem 0 0;
    }
}
@media screen and (max-width: 426px) {
    .footer-sub-col {
        width: 100%;
        font-size: 16px;
    }
    .footer-sub-col ul li a {
        
        font-size: 14px;
    }
    .footer-card-wrapper {
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 1.2rem;
    }
    [alt="social-img"] {
        width: 36px;
        height: auto;
    }
    footer a:has([alt="social-img"]) {
        display: flex;
        width: fit-content;
        height: fit-content;
    }
    .social-nav {
        display: flex;
        align-items: center;
    }
    .footer-sub-nav {
        padding-inline: 6rem;
    }
}